/***CSS Page menu de la palette***/
.header {
    display: flex;
    justify-content: center;
    padding: 10px;

    .logo {
        margin: 20px 0 10px 0;
        width: 200px;
        display: block;
        height: 30px;
        width: 162px;
        justify-content: center;
    }

    .fa-arrow-left {
        position: absolute;
        left: 6px;
        font-size: 24px;
        top: 34px;
        color: black;
    }
}

.head_img {
    height: 360px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 20px;
}



/**section menu**/
.menu {
    position: relative;
    margin-top: -90px;
    background-color: #f6f6f6;
    padding: 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

    titre h1 {
        font-family: Shrikhand;
        font-size: 30px;
    }

    .titre_heart {
        .icons_heart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /**position: absolute;**/
            color: black;

            .fa-heart {
                position: absolute;
            }

            .empty {
                top: 57px;
                font-size: 25px;
                cursor: pointer;
                position: absolute;
            }

            .full {
                font-size: 25px;
                cursor: pointer;
                opacity: 0;
                position: absolute;
                top: 57px;
            }
        }
    }

    /** .card_container {}**/

    .menuentrees {
        animation: fadein;
        animation-duration: 4s;
        animation-timing-function: ease-in;
    }

    .plats {
        animation: fadein;
        animation-duration: 4s;
        animation-timing-function: ease-in;
    }

    .desserts {
        animation: fadein;
        animation-duration: 6s;
        animation-timing-function: ease-in;
    }

    .content_title {
        border-bottom: solid;
        border-bottom: solid;
        width: 41px;
        border-color: #99E2D0;
    }

    .h3 {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 4px;
    }

    .card {
        /**width: 335px;**/
        height: 70px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
    }

    .name {
/**padding: 13px;**/
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
    }

    .card h4 {
        margin-bottom: 7px;
        margin-top: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card p {
        font-size: 15px;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .prix {
        margin-right: 27px;
        font-weight: bold;
        margin-top: 39px;
    }

    .check {
        display: flex;
        background-color: #99e2d0;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 80px;
        margin-right: -100px;
        transition: 400ms ease-out;
    }
}


/**bouton commander**/
.btn {
    width: 186px;
    display: block;
    padding: 16px 25px;
    border-radius: 25px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 300ms, box-shadow 300ms;
}



/**footer**/
footer {
    display: flex;
    flex-flow: column;
    gap: 16px;
    /** padding: 25px 22px 22px 25px;**/
    background: #353535;

    .footer_logo {
        width: 139px;
        height: 27px;
        padding: 3px;
        margin-left: 35px;
        filter: invert(1);
        color: #FFFFFF;
    }

    .footer_links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: rgb(255, 255, 255);
        gap: 10px;
        list-style: none;
    }

    .footer_links_bold {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        gap: 12px;

    }

    .footer_links_simple {
        font-size: 16px;
    }

    .footer_links_bold .fa-solid {
        width: 16px;
        color: #FFFFFF
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }
}