/**Generale**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiaire-color: #99E2D0;**/
/**h1,h2 {
    font-family: "Roboto-bold";
    /** margin: /
    font-weight: 700;
    color: #000;0;/**
}



/**Loader**/
.loading {
  background-color: #FF79DA;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animation_opacity 2s forwards;
  /** animation-name: animation_opacity;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;**/
}

.loading_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  border-bottom-color: #FFFFFF;
  border-top-color: #99E2D0;
  position: absolute;
  top: 35%;
  left: 35%;
  /**  animation: animation_loader 2s linear;**/
  animation: animation_loader 2s linear infinite;
}

@keyframes animation_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation_opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
.main_container {
  z-index: 2;
  position: relative;
}

/** header logo**/
.logo {
  /**position: relative;**/
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
  width: 100%;
  padding: 10px;
}
.logo img {
  width: 162px;
  height: auto;
  max-height: 100%;
  padding: 20px 0px 12px 0px;
}

.location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  /**padding: 15px 0px 15px 0px;**/
  padding: 15px 0;
  width: 100%;
  font-family: "roboto, sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #353535;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 38, 0.15);
  /**text-align: left;**/
}
.location_search {
  color: #353535;
  background: #EAEAEA;
  font-size: 16px;
  border: none;
  width: 110px;
}

h1 {
  text-align: center;
}

.reservation {
  /** grid-column: 2 / 3;**/
  display: flex;
  align-items: center;
  flex-direction: column;
  /**padding: 39px 0px 57px 0px;**/
  padding: 39px 0 57px;
  background-color: #F6F6F6;
  text-align: center;
}

.reservation p {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  /** line-height: 21px;**/
  /**  color: #000;**/
  margin-top: 17px;
  text-align: center;
  color: #353535;
}

.reservation .btn {
  margin-top: 27px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.titre_reserver {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  font-size: 25px;
  align-items: center;
}

.sub_titre_decouvrez {
  font-size: 18px;
  align-items: center;
}

/*fonctionement*/
.fonction {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 50px;
}
.fonction_btn {
  display: flex;
  flex-wrap: wrap;
  font-family: roboto, sans-serif;
  font-size: 16px;
}
.fonction_number {
  background-color: #9747ff;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.fonction_content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 70px;
  margin: 10px;
  width: 90%;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /**  line-height: 18.75px;**/
  /**text-align: left;**/
}
.fonction_icon {
  color: #7e7e7e;
  margin: 20px;
}
.fonction_titre {
  margin-bottom: 30px;
  margin-top: 40px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  /**  line-height: 28.13px;**/
  text-align: left;
}
.fonction_texte {
  margin: 10px;
}

/** restaurant **/
.restaurant {
  /**  grid-column: 2 / 3;**/
  display: flex;
  flex-flow: column;
  gap: 26px;
  margin-top: 50px;
  padding-bottom: 66px;
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
}

.titre_restaurants {
  /** margin-left: 15px;**/
  margin-top: 50px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  /**text-align: left;**/
}

/**.cards {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 18px;
    width: 100%;
    height: 174px;
}**/
.restaurant_cards {
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  /**  padding-bottom: 20px;**/
  /** width: 90%;**/
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.restaurant_cards img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card_content {
  position: relative;
  padding: 16px;
  color: #000000;
  /** display: flex;**/
}

.card_titles {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle_resto {
  /** margin: 10px;**/
  /** line-height: 19.92px;**/
  /**text-align: left;**/
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  color: #000;
}

a {
  color: #000000;
  text-decoration: none;
}

.cards .restaurant_card {
  position: relative;
  box-sizing: border-box;
  border-radius: 15px;
  background: #FFFFFF;
}

restaurant .card_titles .empty {
  position: absolute;
  top: 83%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

.restaurant .card_titles .full {
  position: absolute;
  top: 83%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
}

.restaurant .card .container_new p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 5%;
  margin-left: 10px;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  /**text-align: center;**/
}

.restaurant .card .container_new {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.restaurant .card .new {
  position: absolute;
  top: 0%;
  right: 5%;
}

/**heart**/
.heart {
  cursor: pointer;
  z-index: 99;
  /** pointer-events: none;**/
}

.fa-heart {
  position: absolute;
}

.fa-heart.empty {
  color: black;
  width: 22px;
  height: 21px;
  top: 25%;
  left: 80%;
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

.fa-heart.full {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 63%;
  right: 25%;
  color: transparent;
  font-size: 25px;
  background-image: linear-gradient(10deg, #ff79da, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.heart:active .fa-heart.full {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/**fadein**/
.card_menuentrees,
.card_menuplat,
.card_menudesserts {
  animation: fadein 3s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**footer**/
footer {
  display: flex;
  flex-flow: column;
  gap: 16px;
  /**  padding: 25px 22px 22px 25px;**/
  padding: 25px;
  background: #353535;
}

.footer_logo {
  width: 139px;
  filter: invert(1);
  /** height: 27px;**/
  /**  padding: 20px 0;**/
  color: #FFFFFF;
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFFFFF;
  /**gap: 10px;**/
  list-style: none;
}

.footer_links_bold {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  /**text-align: left;**/
}

.footer_links_simple {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}

.footer_links_bold .fa-solid {
  width: 16px;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 768px) {
  .fonction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /** .restaurant {
      padding-left: 150px;
      padding-right: 150px;
  }

  .restaurant_card {
      display: flex;
  }

  .card_content {
      width: 50%;
  }**/
}/*# sourceMappingURL=style.css.map */