body {}



nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
}

nav img {
    width: 162px;
    max-height: 100%;
    padding: 20px 0px 12px 0px;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 15px 0px 15px 0px;
    width: 100%;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #353535;
    background: #EAEAEA;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h1,
h2 {
    font-family: "roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000;
}

.container {
    display: grid;
}

/*.reservation ::before {
    content: "";
    position: absolute;
    z-index: -1;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #F6F6F6;
}*/
.reservation {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 39px 0px 57px 0px;
    background-color: #F6F6F6;
}

.reservation .btn {
    margin-top: 27px;
}

.btn {
    display: block;
    padding: 16px 25px;
    border-radius: 25px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 300ms, box-shadow 300ms;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.functioning {
    grid-column: 2 / 3;
    /*padding: 48px 0px 68px 0px;*/
    background: #FFFFFF;
}

.functioning::before {
    content: "";
    width: 323px;
    height: 78px;
    position: absolute;
    z-index: -1;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.functioning ol li {
    display: flex;
    flex-direction: column;
   /* position: relative;*/
    align-items: center;
    gap: 20px;
    flex-basis: 100%;
  /*  margin: 0;*/
    padding: 29px 38px 28px 37.5px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #000;
}

li {
    list-style: none;
}
.functioning li {
    justify-content: center;
  margin-top:20px;
}
.functioning ol {
    width: 323px;
    height: 73px;
}

.titre-function {
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
}